.sizesectors {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.subsectors {
    flex-grow: 1;
    width: 100%;
}

.cultivos {
    font-size: 23px;
    align-items: center;
    justify-content: flex-start;
}
